<div id="<%= dom_id newspaper %>">
  <p>
    <strong>Header:</strong>
    <%= newspaper.header %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= newspaper.body %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= newspaper.link %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= newspaper.category.name %>
  </p>

</div>
